.menu-vBox .label .text {
    -fx-font-family: monospace, sans-sefir;
    -fx-font-size: 50px;
    -fx-font-weight: bold;
}
.play-vBox .label .text {
    -fx-font-family: monospace, sans-sefir;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.results-vBox .label .text {
    -fx-font-family: monospace, sans-sefir;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
.button {
    -fx-cursor: hand;
}
.play-gridPane .button {
    -fx-pref-height: 50px;
    -fx-pref-width: 66px;
}
.play-gridPane .button .text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.play-gridPane .button:hover {
    -fx-background-color: #6c6c70;
}